{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
	.cue-card{
		min-height: 250px;
		border: solid 2px;
		border-radius: 10px;
	}	

</style>
	<div class = "container-fluid">
		<div class="row">
			<div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 col-12">
				<div class="card shadow p-3 mb-5">
					<div class="card-body">
						<center>
							<img src = "{{user.profile.image.url}}" style="max-width: 60%;height: auto;" class="rounded-circle img-responsive">
						</center>
						<br><br>
						<center><h4>{{user}}</h4>
						<small>
							{{user.first_name}} {{user.last_name}}
							<br>{{user.email}}
						</small>
						<p>
							<br>{{user.profile.contact}}
							
						</p>
						<br><br>
						<a href="{% url 'accounts:accounts-edit' %}" class="btn btn-info btn-sm mt-1 mb-1" style="float: center;">Edit Profile</a>
						<a href="{% url 'accounts:accounts-logout' %}" class="btn btn-danger btn-sm mt-1 mb-1" style="float: center;">Logout</a>
						</center>
					</div>
				</div>
			</div>
			<div class="col-xl-10 col-lg-10 col-md-9 col-sm-12 col-12">
				<div class="row">
					<div class = "col-md-12">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item">
								<a  href="#surveys" class="nav-link active" role="tab" data-toggle="tab">Surveys</a>
							</li>
							<li class="nav-item">
								<a href="#polls" class="nav-link" role="tab" data-toggle="tab" data-toggle="tab">Polls</a>
							</li>
						</ul>

						<div class="tab-content" >
							<div class="tab-pane fade in show active" role="tabpanel" id="surveys">
								<br>
						    	<div class="row">
						    		{% for survey in surveys %}
									<div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
										<div class = "card cue-card">
											<div class = "card-header">
												<div class="row">
													<div class="col-md-12">
														{{survey.title}}
														<br>{{survey.date_posted}}
													</div>
												</div>
											</div>
											<div class="card-body">
												<small class="text-muted"><p class="justified">{{survey.breif}}</p></small>
											</div>
											<div class="card-footer">
												{% if survey.user == request.user %}
													<a href="{% url 'spolen:spolen-analytics' entsurvey survey.slug %}" class="btn btn-outline-success">Response</a> 
													{% if survey.closed %}
													<a href="{% url 'spolen:spolen-open' entsurvey survey.slug %}" class="btn btn-outline-info">Open</a>
													{% else %}
													<a href="{% url 'spolen:spolen-close' entsurvey survey.slug %}" class="btn btn-outline-danger">Close</a>
													{% endif %}
												{% else %}
												<a href="{% url 'spolen:spolen-surveys-participate' survey.slug %}" class="btn btn-outline-primary">Participate</a>
												{% endif %}
											</div>
										</div>
										<br>
									</div>

									{% endfor %}
								</div>
								<br>
								{% if surveys_cl %}
								<h4>Your Closed Surveys</h4>
								<hr/>	
								<div class="row">							
									{% for survey in surveys_cl %}
									<div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
										<div class = "card cue-card">
											<div class = "card-header">
												<div class="row">
													<div class="col-md-12">
														{{survey.title}}
														<br>{{survey.date_posted}}
													</div>
												</div>
											</div>
											<div class="card-body">
												<small class="text-muted"><p class="justified">{{survey.breif}}</p></small>
											</div>
											<div class="card-footer">
												{% if survey.user == request.user %}
													<a href="{% url 'spolen:spolen-analytics' entsurvey survey.slug %}" class="btn btn-outline-success">Response</a> 
													{% if survey.closed %}
													<a href="{% url 'spolen:spolen-open' entsurvey survey.slug %}" class="btn btn-outline-info">Open</a>
													<a href="{% url 'spolen:spolen-discard' entsurvey survey.slug %}" class="btn btn-outline-dark">Discard</a>
													{% else %}
													<a href="{% url 'spolen:spolen-close' entsurvey survey.slug %}" class="btn btn-outline-danger">Close</a>
													{% endif %}
												{% endif %}
											</div>
										</div>
									</div>
									{% endfor %}
						    	</div>
						    	{% endif %}
						    </div>	

						    <div class="tab-pane fade in" role="tabpanel" id="polls">
						    	<br>
						    	<div class="row">
						    		{% for poll in polls %}
									<div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
										<div class = "card cue-card">
											<div class = "card-header">
												<div class="row">
													<div class="col-md-12">
														{{poll.title}}
														<br>{{poll.date_posted}}
													</div>
												</div>
											</div>
											<div class="card-body">
												<small class="text-muted"><p class="justified">{{poll.question}}</p></small>
											</div>
											<div class="card-footer">
												{% if poll.user == request.user %}
													<a href="{% url 'spolen:spolen-analytics' entpoll poll.slug %}" class="btn btn-outline-success">Response</a>
													{% if poll.closed %}
													<a href="{% url 'spolen:spolen-open' entpoll poll.slug %}" class="btn btn-outline-info">Open</a>
													{% else %}
													<a href="{% url 'spolen:spolen-close' entpoll poll.slug %}" class="btn btn-outline-danger">Close</a>
													{% endif %}
												{% else %}
												<a href="{% url 'spolen:spolen-polls-participate' poll.slug %}" class="btn btn-outline-primary">Participate</a>
												{% endif %}
											</div>
										</div>
										<br>
									</div>
									{% endfor %}
								</div>
								<br>
								{% if polls_cl %}
								<h4>Your Closed Polls</h4>
								<hr/>	
								<div class="row">									
									{% for poll in polls_cl %}
									<div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
										<div class = "card cue-card">
											<div class = "card-header">
												<div class="row">
													<div class="col-md-12">
														{{poll.title}}
														<br>{{poll.date_posted}}
													</div>
												</div>
											</div>
											<div class="card-body">
												<small class="text-muted"><p class="justified">{{poll.question}}</p></small>
											</div>
											<div class="card-footer">
												{% if poll.user == request.user %}
													<a href="{% url 'spolen:spolen-analytics' entpoll poll.slug %}" class="btn btn-outline-success">Response</a>
													{% if poll.closed %}
													<a href="{% url 'spolen:spolen-open' entpoll poll.slug %}" class="btn btn-outline-info">Open</a>
													<a href="{% url 'spolen:spolen-discard' entpoll poll.slug %}" class="btn btn-outline-dark">Discard</a>
													{% else %}
													<a href="{% url 'spolen:spolen-close' entpoll poll.slug %}" class="btn btn-outline-danger">Close</a>
													{% endif %}
												{% endif %}
											</div>
										</div>
										<br>
									</div>
									{% endfor %}
						    	</div>	
						    	{% endif %}
						    </div>
						</div>
						</div>					  		
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}