{% extends 'base.html' %}
{% block content %}
<div class = "container">
	<div class="row">
		<div class="col-md-12">
			<div class="card shadow p-3 mb-5">
				<div class="card-body">
					<h1>Thanks for your participation</h1>
					<hr>
					<small class="text-muted">Thanks for your time and effort. We will look forward to imporve based on your feedback</small>
					<br><a href="{% url 'spolen:spolen-index' %}" class="btn btn-dark btn-sm mt-1 mb-1">Back Home</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
